* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 0;
  margin: 0 auto;
}
h1 {
  font-size: 50px;
  font-weight: 800;
}
h3 {
  font-size: 26px;
  font-weight: 600;
}
h4 {
  font-size: 12px;
}
em {
  font-weight: 100;
}
.song-info {
  height: 50%;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
